# Node modules
node_modules/

# Build output
build/

# Temp files
*.tmp
*.log

# Dependency directories
jspm_packages/
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn v1
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Yarn v2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/

# Next.js static files
out/

# Next.js secret files
.next/output/
.next/cache/

# Storybook files
.storybook/
__stories__/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
